body {
    background-color: white;
}

div {
    background-color: lavender;
    margin: auto;
    padding: 20px;
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style the button container to keep buttons on the same line */
.button-container {
    text-align: center;
    background-color: transparent;
}

.button-container button {
    margin: 10px; /* Adjust the margin as needed */
}